body {
    background-color: aqua;
}


button {
    color: white;
    border: 0;
    padding: 10px;
    font-size: 15px;
}

.firstbutton {
    background-color: blue;
}

.secondbutton {
    background-color: red;
}