body {
    background-color: aqua;
}

.container {
    text-align: center;

    .heading {
        padding-bottom: 15px;
    }

    .container-wrapp {
        display: flex;
        width: 70%;

            .first-button {
                width: 35%;
            }

                button {
                    color: white;
                    padding: 20px;
                    font-size: 15px;
                }

                .firstbutton {
                    background-color: blue;
                }

            .second-button {
                width: 35%;
            }

                .secondbutton {
                    background-color: red;   
                }
}